[Desktop Entry]
Type=Application
Name=Firefox Nightly
Exec=firefox
Comment=Navegador de Internet Firefox Nocturno
Icon=firefox
Categories=Network;WebBrowser;
