[Desktop Entry]
Categories=Development;IDE
Comment[es_ES]=IDE
Comment=IDE
Icon=/home/maloqui/Descargas/Linux/eclipse/icon.xpm
MimeType=
Name[es_ES]=Eclipse
Name=Eclipse
Exec=eclipse
Type=Application
