[Desktop Entry]
Type=Application
Name=Microsoft Word
MimeType=application/vnd.oasis.opendocument.text;
Exec=env WINEPREFIX="/home/1is7ac3/.wine" wine start /ProgIDOpen Word.OpenDocumentText.12 %f
NoDisplay=true
StartupNotify=true
Icon=29F5_WINWORD.0
