[Desktop Entry]
Type=Application
Name=Microsoft PowerPoint
MimeType=application/vnd.ms-powerpoint.addin.macroEnabled.12;
Exec=env WINEPREFIX="/home/sandra/.wine" wine start /ProgIDOpen PowerPoint.Addin.12 %f
NoDisplay=true
StartupNotify=true
Icon=687A_POWERPNT.0
