[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-ms-vsto;
Exec=env WINEPREFIX="/home/1is7ac3/.wine" wine start /ProgIDOpen bootstrap.vsto.1 %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
