[Desktop Entry]
Name=Age of Empires II
Exec=env WINEPREFIX="/home/sandra/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/sandra/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Microsoft\\ Games/Age\\ of\\ Empires\\ II/Age\\ of\\ Empires\\ II.lnk
Type=Application
StartupNotify=true
Path=/home/sandra/.wine/dosdevices/c:/Program Files/Microsoft Games/Age of Empires II
Icon=D083_Empires2.0
StartupWMClass=empires2.exe
